*{
	padding: 0px;
	margin: 0px;
}
.timer{
	width: 350px;
	height: 500px;
	background: #f12;
	margin: 100px auto;
	overflow: hidden;
}
.head{
	width: 100%;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	margin-top: 100px;
	text-align: center;
}
.counter{
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top: 50px;
	color: #fff;
	font-size: 30px;
}
.counter span{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #999;
	line-height: 60px;
}
.counter i{
	font-style: normal;	
	display: inline-block;	
	font-weight: 700;
	vertical-align: top;
	margin-top: 10px; 
	text-align: center;
	margin-left: 5px;
}